.logo{
    height: 30%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div[class^="pj_unit"] {
    padding-left: 36px;
    padding-right: 36px;
}
div[class^="pj_card"]{
    height: 260px;
}
div[class^="pj-title"]{
    font-size: 150%;
    text-align: center;
}
div[class^="abstract"] {
    font-size: 120%;
    text-indent: 24px;
    padding-left: 5%;
    padding-right: 5%;
    height: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
.abstract:hover{
    cursor: pointer;
}
span[class*="tag"]:hover{
    cursor: pointer;
}
div[class^="tags"] {
    overflow-x: scroll;
    font-size: 120%;
}
div[class^="tags"]::-webkit-scrollbar {
    display: none;
}
div[class^="modal"]{
    height: 95vh;
    width: 800px;
}
#mdc{
    height: 95vh;
    width: 800px;
}
div[class*="year-sort"] {
    padding-left: 60px;
}
span[class*="yslt"]:hover{
    cursor: pointer;
}
span[class*="yslt"]{
    font-size: 120%;
}
input {
    border-color: black;
    height: 36px;
    background-color:whitesmoke ;
   
}
button {
    height: 36px;
    cursor: pointer;
    background-color: black;
    right: 18px;
    position: absolute;
}
