.main_title{
    font-size: 72px;
    background-color  :black;
    color:  white;
    padding-bottom: 0;
}
.title_text{
    text-align: left;
    margin-right: 25%;
}
#navbar{
    justify-self: right;
    font-size: 12px;
    float: right;
    margin-top: 4%;
    margin-right: 2%;
    white-space: nowrap;
}
#navbar:hover{
    background-color: black;
}
.navlink{
    margin-right:3%;
}
